<div class="layout-content" data-ref="design-view">
  <div class="component-wrapper component-wrapper--full no-padding" data-ref="design-wrapper">
    <div class="component-top" data-ref="design-top">
      <div class="component-top-left" data-ref="design-top-left">
        <h1 class="component-top-title" data-ref="design-title"></h1>
      </div>
    </div>

    <div class="component-bottom component-bottom--canvas" data-ref="component-bottom">
      <canvas class="design-viewport-canvas" data-ref="design-viewport-canvas"></canvas>
    </div>
  </div>
</div>
