<div class="layout-content" data-ref="error-view">
  <div class="login-container" data-ref="error-wrapper">
    <a class="login-header-logo" data-ref="error-home-link" href="/" data-i18n-aria="nav.go_home" data-i18n-title="app.name">
      <img class="login-logo-img" data-ref="logo-img" src="/logo.svg" alt="Spriteboard" />
    </a>

    <div class="card card--w-400" data-ref="error-card" style="text-align: center; align-items: center;">
      <div class="error-icon-box" data-ref="error-icon-box" style="margin-bottom: 8px;">
        <span class="material-symbols-rounded" data-ref="error-icon" style="font-size: 56px; color: var(--color-error);">error_outline</span>
      </div>

      <div class="card__header" data-ref="error-header" style="text-align: center;">
        <span class="badge badge--danger" data-ref="error-badge">404</span>
        <h1 class="card__title" data-ref="error-title" data-i18n="error.not_found_title"></h1>
        <p class="card__subtitle" data-ref="error-desc" data-i18n="error.not_found_desc"></p>
      </div>

      <div class="card__body" data-ref="error-body" style="width: 100%; margin-top: 12px;">
        <button type="button" class="btn btn--h55 btn--black btn--w-full" data-ref="error-action-btn" data-i18n="error.not_found_action">
        </button>
      </div>
    </div>
  </div>
</div>
