<template data-skeleton="auth-card">
  <div class="layout-content" data-ref="skeleton-auth-view">
    <div class="login-container" data-ref="skeleton-auth-wrapper">
      <div class="skeleton skeleton--logo skeleton--circle" data-ref="skeleton-auth-logo"></div>
      <div class="card card--w-400 skeleton--card" data-ref="skeleton-auth-card">
        <div class="card__header" data-ref="skeleton-auth-header">
          <div class="skeleton skeleton--title" data-ref="skeleton-title"></div>
          <div class="skeleton skeleton--subtitle" data-ref="skeleton-subtitle"></div>
        </div>
        <div class="card__body" data-ref="skeleton-auth-body">
          <div class="skeleton skeleton--input" data-ref="skeleton-input-1"></div>
          <div class="skeleton skeleton--input" data-ref="skeleton-input-2"></div>
          <div class="skeleton skeleton--button" data-ref="skeleton-btn-submit"></div>
        </div>
      </div>
    </div>
  </div>
</template>
