<div class="menu-panel--sidebar" data-ref="sidebar">
  <div class="menu-panel menu-panel--w-285 menu-panel--h-full" data-ref="main-menu">
    <div class="menu-panel__top" data-ref="sidebar-top">
      <div class="menu-panel__header" data-ref="sidebar-header" style="display: none;"></div>
      <div class="menu-panel__list" data-ref="sidebar-nav-top">
        <button type="button" class="menu-item" data-ref="btn-nav-home">
          <span class="material-symbols-rounded menu-item__icon">home</span>
          <span class="menu-item__text" data-i18n="nav.home"></span>
        </button>
      </div>
    </div>

    <div class="menu-panel__bottom" data-ref="sidebar-bottom">
      <div class="menu-panel__list" data-ref="sidebar-nav-bottom">
        <button type="button" class="menu-item" data-ref="btn-nav-trash">
          <span class="material-symbols-rounded menu-item__icon">delete</span>
          <span class="menu-item__text" data-i18n="nav.trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>
