<div class="layout-header" data-ref="topbar">
  <div class="layout-header__left" data-ref="topbar-left">
    <button type="button" class="btn btn--h40 btn--icon" data-ref="btn-toggle-menu" data-tooltip="Menú" aria-label="Menú">
      <span class="material-symbols-rounded">menu</span>
    </button>
  </div>

  <div class="layout-header__center" data-ref="topbar-center"></div>

  <div class="layout-header__right" data-ref="topbar-right">
    <!-- Contenido dinámico inyectado por TopBar JS (botón login o avatar dropdown) -->
    <div class="avatar-dropdown-container" data-ref="avatar-container" style="display: none;">
      <button type="button" class="btn--avatar" data-ref="btn-avatar" data-tooltip="Perfil de usuario" aria-label="Perfil de usuario">
        <img class="avatar-img" data-ref="avatar-img" src="" alt="Avatar" referrerpolicy="no-referrer" />
      </button>

      <div class="menu-panel menu-panel--dropdown menu-panel--w-265 menu-panel--h-auto" data-ref="avatar-menu">
        <div class="menu-panel__list" data-ref="avatar-menu-list">
          <button type="button" class="menu-item" data-ref="btn-menu-settings">
            <span class="material-symbols-rounded menu-item__icon">settings</span>
            <span class="menu-item__text">Configuración</span>
          </button>
          <button type="button" class="menu-item" data-ref="btn-menu-help">
            <span class="material-symbols-rounded menu-item__icon">help</span>
            <span class="menu-item__text">Ayuda y comentarios</span>
          </button>
          <button type="button" class="menu-item menu-item--bordered menu-item--danger" data-ref="btn-logout">
            <span class="material-symbols-rounded menu-item__icon">logout</span>
            <span class="menu-item__text">Cerrar sesión</span>
          </button>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn--h40 btn--black" data-ref="btn-login" style="display: none;">
      Acceder
    </button>
  </div>
</div>
